[project]
	description = My OCA training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kadeusz
[access "refs/for/refs/*"]
	read = group user/kadeusz
	push = group user/kadeusz
	label-Code-Review = -2..+2 group user/kadeusz
	label-Verified = -1..+1 group user/kadeusz
	rebase = group user/kadeusz
	removeReviewer = group user/kadeusz
	submit = group user/kadeusz
[access "refs/heads/*"]
	read = group user/kadeusz
	create = group user/kadeusz
	push = +force group user/kadeusz
	pushMerge = group user/kadeusz
[access "refs/tags/*"]
	push = group user/kadeusz
	push = +force group user/kadeusz
